# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfplan
crash.log

# Secrets
.env
*.pem
*.key
.db_creds.txt

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
